In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")
os.chdir('../../db')
print(os.getcwd())

/Users/test/risksoft/TS/db

(3305, 2571)

In [67]:
twse = pd.read_parquet("tw/ind/TWSE.parquet")
twotci = pd.read_parquet("tw/ind/TWOTCI.parquet")
print(len(twse), len(twotci))
def convert_to_datetime(date_str):
    date_str = date_str.strip()
    year = int(date_str[:3]) + 1911
    month = int(date_str[4:6])
    day = int(date_str[7:9])
    return datetime(year, month, day)
    
twotci_new = twotci[['da', '金額(千元)', '櫃買指數']]
twotci_new.index = twotci_new['da'].apply(convert_to_datetime)
twse_new = twse[['成交金額', '發行量加權股價指數']].loc['2014-01-01':]
df_concat = pd.concat([twse_new, twotci_new.iloc[:, [1,2]]], axis=1).sort_index(ascending=True)
df = df_concat.apply(lambda x: x.str.replace(",", '')).astype(float).dropna()

3305 2571

In [68]:
df

                    成交金額  發行量加權股價指數        金額(千元)    櫃買指數
2014-01-02  9.211540e+10    8612.54  2.726622e+10  130.70
2014-01-03  9.348146e+10    8546.54  2.692302e+10  131.04
2014-01-06  9.609577e+10    8500.01  3.040079e+10  130.28
2014-01-07  9.718154e+10    8512.30  2.535282e+10  131.34
2014-01-08  1.172220e+11    8556.01  3.232564e+10  131.85
...                  ...        ...           ...     ...
2024-06-24  5.173075e+11   22813.70  9.655997e+10  267.56
2024-06-25  4.822124e+11   22875.97  8.976520e+10  268.29
2024-06-26  4.729230e+11   22986.69  9.829917e+10  271.14
2024-06-27  4.503643e+11   22905.98  9.335572e+10  269.46
2024-06-28  4.484959e+11   23032.25  1.104755e+11  273.35

[2562 rows x 4 columns]