In [1]:
import os
os.getcwd()
download/stock_data

'/Users/mini/TS/others'

In [10]:
import pandas as pd
def convert_csv_to_parquet(fname, from_location='db', to_location='db'):
    df = pd.read_csv(f"{from_location}/{fname}", sep='\t')
    df.columns = ['da', 'op', 'hi', 'lo', 'cl', 'vol1', 'vol2', 'spread']
    df.set_index(pd.to_datetime(df['da']), drop=True, inplace=True)

    fname_parquet = fname.replace('csv', 'parquet')
    df.to_parquet(f"{to_location}/{fname_parquet}")
list_ = [fname for fname in os.listdir("db") if fname.endswith("csv")]
list_
for fname in list_:
    convert_csv_to_parquet(fname)

In [8]:
pd.read_csv("db/USDJPY.csv")

     <DATE>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0     2019.01.02\t109.424\t109.458\t108.703\t108.870...
1     2019.01.03\t108.868\t108.888\t104.720\t107.666...
2     2019.01.04\t107.631\t108.585\t107.508\t108.504...
3     2019.01.07\t108.489\t108.743\t108.014\t108.706...
4     2019.01.08\t108.706\t109.083\t108.436\t108.731...
...                                                 ...
1451  2024.08.05\t146.515\t146.650\t141.687\t144.180...
1452  2024.08.06\t144.195\t146.376\t143.627\t144.356...
1453  2024.08.07\t144.335\t147.908\t144.309\t146.719...
1454  2024.08.08\t146.677\t147.549\t145.432\t147.291...
1455  2024.08.09\t147.256\t147.818\t146.508\t146.763...

[1456 rows x 1 columns]